In [1]:
# This tells matplotlib not to try opening a new window for each plot.
%matplotlib inline

# Libraries for reading, cleaning and plotting the dataa
import numpy as np 
import pandas as pd 
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Libraries for models 
from sklearn.linear_model import LinearRegression

In [2]:
# Read in training data 
df= pd.read_excel("slr_data.xlsx",sheet_name="data")

In [3]:
df.head(3)

   year  sea_level (cm)     co2_gt  co2_ppm
0  1971            9.92  15.679743   326.32
1  1972           10.14  16.464900   327.45
2  1973           10.52  17.441791   329.67

In [4]:
#split the data into training and dev datasets
training_df = df.sample(frac=0.8)
dev_df = df.drop(training_df.index)

In [5]:
train_data = training_df.co2_gt.to_numpy().reshape(-1,1)
train_label = training_df["sea_level (cm)"]

dev_data = dev_df.co2_gt.to_numpy().reshape(-1,1)
dev_label = dev_df["sea_level (cm)"]

In [6]:
#fit a linear model
model = LinearRegression()
model.fit(train_data,train_label)

LinearRegression()

In [7]:
#score the model
model.score(dev_data,dev_label)

0.9661199279321742

In [8]:
#use the model. Takes Co2 emission in gT. 
new_x =  np.array([15,20,30,40,100]).reshape(-1,1)

In [9]:
#predicts global mean sea level in cm.
model.predict(new_x)

array([ 9.46096825, 11.96356795, 16.96876737, 21.97396679, 52.00516329])