In [57]:
import pandas as pd
import math
import numpy as np
from sklearn.linear_model import LinearRegression

In [44]:
df = pd.read_csv("data/c02_emissions.tsv", sep="\t")

def toNum(i):
    i = i.strip().replace("%","").replace(",", "")
    return int(i)

#convert string numbers to ints
df["c02"] = df["Fossil CO2 Emissions (tons)"].apply(toNum)

df

,Year,Fossil CO2 Emissions (tons),CO2 emisions change,CO2 emissions per capita,Population,Pop.change,c02
0,2016,"35,753,305,000",0.34%,4.79,"7,464,022,049",1.14 %,35753305000
1,2015,"35,631,078,000",-0.16%,4.83,"7,379,797,139",1.16 %,35631078000
2,2014,"35,686,780,000",0.76%,4.89,"7,295,290,765",1.17 %,35686780000
3,2013,"35,416,599,000",1.80%,4.91,"7,210,581,976",1.19 %,35416599000
4,2012,"34,790,564,000",0.61%,4.88,"7,125,828,059",1.20 %,34790564000
5,2011,"34,578,390,000",2.95%,4.91,"7,041,194,301",1.21 %,34578390000
6,2010,"33,587,787,000",5.72%,4.83,"6,956,823,603",1.22 %,33587787000
7,2009,"31,770,516,000",-1.10%,4.62,"6,872,767,093",1.23 %,31770516000
8,2008,"32,124,428,000",0.65%,4.73,"6,789,088,686",1.24 %,32124428000
9,2007,"31,916,504,000",3.77%,4.76,"6,705,946,610",1.24 %,31916504000
10,2006,"30,756,174,000",3.32%,4.64,"6,623,517,833",1.25 %,30756174000
11,2005,"29,769,008,000",3.62%,4.55,"6,541,907,027",1.25 %,29769008000
12,2004,"28,729,309,000",4.42%,4.45,"6,461,159,389",1.25 %,28729309000
13,2003,"27,513,926,000",4.42%,4.31,"6,381,185,114",1.26 %,27513926000
14,2002,"26,350,081,000",1.82%,4.18,"6,301,773,188",1.27 %,26350081000
15,2001,"25,877,903,000",1.11%,4.16,"6,222,626,606",1.29 %,25877903000
16,2000,"25,593,733,000",3.48%,4.17,"6,143,493,823",1.31 %,25593733000
17,1999,"24,733,708,000",0.78%,4.08,"6,064,239,055",1.33 %,24733708000
18,1998,"24,541,647,000",0.59%,4.10,"5,984,793,942",1.35 %,24541647000
19,1997,"24,398,282,000",1.34%,4.13,"5,905,045,788",1.38 %,24398282000
20,1996,"24,075,938,000",1.93%,4.13,"5,824,891,951",1.40 %,24075938000
21,1995,"23,619,144,000",3.15%,4.11,"5,744,212,979",1.43 %,23619144000
22,1994,"22,898,963,000",1.04%,4.04,"5,663,150,427",1.46 %,22898963000
23,1993,"22,664,346,000",0.78%,4.06,"5,581,597,546",1.50 %,22664346000
24,1992,"22,488,598,000",-0.45%,4.09,"5,498,919,809",1.56 %,22488598000
25,1991,"22,591,041,000",0.63%,4.17,"5,414,289,444",1.63 %,22591041000
26,1990,"22,450,442,000",0.49%,4.21,"5,327,231,061",1.71 %,22450442000
27,1989,"22,341,747,000",1.80%,4.27,"5,237,441,558",1.79 %,22341747000
28,1988,"21,945,689,000",3.54%,4.27,"5,145,426,008",1.84 %,21945689000
29,1987,"21,195,418,000",3.24%,4.20,"5,052,522,147",1.85 %,21195418000
30,1986,"20,530,265,000",1.75%,4.14,"4,960,567,912",1.84 %,20530265000
31,1985,"20,176,693,000",1.37%,4.14,"4,870,921,740",1.82 %,20176693000
32,1984,"19,904,653,000",3.12%,4.16,"4,784,011,621",1.80 %,19904653000
33,1983,"19,301,703,000",0.61%,4.11,"4,699,569,304",1.78 %,19301703000
34,1982,"19,184,207,000",-1.31%,4.15,"4,617,386,542",1.77 %,19184207000
35,1981,"19,439,731,000",-1.84%,4.28,"4,536,996,762",1.77 %,19439731000
36,1980,"19,803,842,000",-1.14%,4.44,"4,458,003,514",1.77 %,19803842000
37,1979,"20,031,918,000",2.85%,4.57,"4,380,506,100",1.76 %,20031918000
38,1978,"19,477,371,000",3.20%,4.52,"4,304,533,501",1.77 %,19477371000
39,1977,"18,874,320,000",2.98%,4.46,"4,229,506,060",1.80 %,18874320000
40,1976,"18,329,016,000",5.66%,4.41,"4,154,666,864",1.84 %,18329016000
41,1975,"17,346,512,000",-0.29%,4.25,"4,079,480,606",1.89 %,17346512000
42,1974,"17,396,363,000",-0.26%,4.34,"4,003,794,172",1.94 %,17396363000
43,1973,"17,441,791,000",5.93%,4.44,"3,927,780,238",1.98 %,17441791000
44,1972,"16,464,900,000",5.01%,4.27,"3,851,650,245",2.01 %,16464900000
45,1971,"15,679,743,000",-0.50%,4.15,"3,775,759,617",2.04 %,15679743000

In [87]:

#now create a projected dataset based on certain scenarios
years = range(2016, 2100, 1)

#p1 linear projected output (business as usual)
reg_co2 = []
X = df["Year"].to_numpy().reshape(-1, 1)
Y = df["c02"].to_numpy().reshape(-1, 1)
reg = LinearRegression().fit(X,Y)
for year in years:
    co2 = reg.predict(np.array(year).reshape(-1, 1))
    reg_co2.append(int(co2[0][0]))
reg_co2 = np.array(reg_co2)


#simulated constant changes
last_year = df["c02"][0]
print(last_year)

def simulate(years, last_year, delta=0.01, increase=True):
    """ given our years, last value and a delta, simulate new values"""
    arr = []
    for year in years:
        diff = last_year * delta
        if increase:
            this_year = last_year+diff
        else:
            this_year = last_year-diff
        #so large, just round to integer
        this_year = int(this_year)
        arr.append(this_year)
        last_year = this_year
    return arr

#s1 1% increase year after year
s1 = simulate(years, last_year, delta=0.01)

#s2 5% increase year after year
s2 = simulate(years, last_year, delta=0.05)

#s3 10% increase year after year
s3 = simulate(years, last_year, delta=0.1)

#s4 1% decrease year after year
s4 = simulate(years, last_year, delta=0.01, increase=False)

#s5 5% decrease year after year
s5 = simulate(years, last_year, delta=0.05, increase=False)

#s6 10% decrease year after year
s6 = simulate(years, last_year, delta=0.1, increase=False)

#TODO: combine with previous values

sdf = pd.DataFrame({"year":years, 
                    "s0":reg_co2, 
                    "s1":s1, 
                    "s2":s2, 
                    "s3":s3, 
                    "s4":s4, 
                    "s5":s5, 
                    "s6":s6})


def toGIGA(i):
    i = i / 1e9
    return int(i)

#convert to gigatons
sdf["s0"] = sdf["s0"].apply(toGIGA)
sdf["s1"] = sdf["s1"].apply(toGIGA)
sdf["s2"] = sdf["s2"].apply(toGIGA)
sdf["s3"] = sdf["s3"].apply(toGIGA)
sdf["s4"] = sdf["s4"].apply(toGIGA)
sdf["s5"] = sdf["s5"].apply(toGIGA)
sdf["s6"] = sdf["s6"].apply(toGIGA)

sdf.to_csv("data/projected_co2.csv", index=False)
sdf

35753305000

    year  s0  s1    s2      s3  s4  s5  s6
0   2016  34  36    37      39  35  33  32
1   2017  35  36    39      43  35  32  28
2   2018  35  36    41      47  34  30  26
3   2019  35  37    43      52  34  29  23
4   2020  36  37    45      57  34  27  21
..   ...  ..  ..   ...     ...  ..  ..  ..
79  2095  69  79  1771   73237  16   0   0
80  2096  69  80  1860   80560  15   0   0
81  2097  70  80  1953   88616  15   0   0
82  2098  70  81  2051   97478  15   0   0
83  2099  71  82  2153  107226  15   0   0

[84 rows x 8 columns]